@page "/addexaminator"

@using IS_CARNET.Data
@using System.Globalization
<div class="form">
    <h1>ADD Examinator</h1>

    <EditForm Model="@dto" OnValidSubmit="@SubmitExaminator">
        <DataAnnotationsValidator />
        <ValidationSummary />


        <p>
            <label for="FirstName">First name:</label>
            <InputText id="FirstName" @bind-Value="dto.FirstName"></InputText>
        </p>
        <p>
            <label for="LastName">Last name:</label>
            <InputText id="LastName" @bind-Value="dto.LastName"></InputText>
        </p>
        <p>
            <label for="PassingPercentage">Passing Percentage:</label>
            <InputNumber id="PassingPercentage" readonly @bind-Value="dto.PassingPercentage"></InputNumber>
        </p>

        <button type="submit">ADD EXAMINATOR</button>

    </EditForm>
</div>


@code {


    private ExaminatorDTO dto = new ExaminatorDTO();



    // FUNCTIA DE SUBMIT
    private async Task SubmitExaminator()
    {



    }

}

