@page "/fetchpastexams"

@using IS_CARNET.Data


<h1>Past Exams</h1>


@if (State.CurrentUser != null)
{
    <p>@State.CurrentUser</p>
    @if (exams != null && exams.Length>=1)
    {
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Score</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exam in exams)
            {
                <tr>
                    <td>@exam.ExamDate.ToShortDateString()</td>
                    <td>@exam.Score</td>
                    <td>@exam.Result</td>
                </tr>
            }
        </tbody>
    </table>
    }
    else
    { <p>Nu aveti examene inregistrate</p>}
}
else
{
    <p>Va rugam sa va logati pentru a accesa istoricul examenelor</p>
}


@code {
    private Exam[] exams;

    HttpClient Http = new HttpClient();
    private string apiUrl = "https://localhost:44316/api/pastExam/" + State.CurrentUser;
    protected override async Task OnInitializedAsync()
    {
        exams = await Http.GetJsonAsync<Exam[]>(apiUrl);
    }


    public class Exam
    {
        public DateTime ExamDate { get;  set; }
        public int Score { get;  set; }
        public string Result { get;  set; }
    }

}

