@page "/"

<div class="login-page">
    <img src="img/logo.png" class="logo">

    <div class="form">
        <button onclick="location.href = '/info'" class="homeButton">INFO</button>
        &nbsp;
        <button onclick="location.href = '/login'" class="homeButton">LOGIN</button>
        &nbsp;
        <button onclick="location.href = '/register'" class="homeButton">REGISTER</button>


    </div>
</div>