@page "/register"
@inject ProtectedSessionStorage session
<div class="form">
    <h1>Register</h1>


    <EditForm Model="@dto" OnValidSubmit="@SubmitCandidateInformation">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <p>
            <label for="firstname">First Name:</label>
            <InputText id="firstname" @bind-Value="dto.FirstName"></InputText>
        </p>

        <p>
            <label for="lastname">Last Name:</label>
            <InputText id="lastname" @bind-Value="dto.LastName"></InputText>
        </p>
        <p>
            <label for="birthdate">BirthDate:</label>
            <InputDate id="birthdate" @bind-Value="dto.BirthDate"></InputDate>
        </p>

        <p>
            <label for="cnp">CNP:</label>
            <InputText id="cnp" @bind-Value="dto.CNP"></InputText>
        </p>

        <p>
            <label for="password">Password:</label>
            <InputText id="password" @bind-Value="dto.Password"></InputText>
        </p>

        <p>
            <label for="confirmpassword">Confirm Password:</label>
            <InputText id="confirmpassword" @bind-Value="dto.ConfirmPassword"></InputText>
        </p>
        <button type="submit">Register</button>
    </EditForm>
    </div>
    <div>
        @if (username != "")
        {<p>Register efectuat cu succes! Username-ul dumneavoastra este:@username</p>
    }
    </div>

    @code {
        private RegisterCandidateDTO dto = new RegisterCandidateDTO();
        string username = String.Empty;
        private async Task SubmitCandidateInformation()
        {

            HttpClient Http = new HttpClient();
            HttpContent content = new StringContent(JsonConvert.SerializeObject(dto), Encoding.UTF8, "application/json");
            HttpResponseMessage h = await Http.PostAsync("https://localhost:44379/api/CandidateRegister", content);
            var responseJSON = h.Content.ReadAsStringAsync().Result;
            AccountDTO acc = JsonConvert.DeserializeObject<AccountDTO>(responseJSON);
            username = acc.UserName;

        }
    }
